#filter-wrapper {
	width:100%;
	background-color:#5C686D;
	color:#BED9E5;
	text-align:center;
}

#filter-content {
	text-align:left;
	display:inline-block;
	width:350px;
	margin:15px;
}

#filter-content h3 {
	margin:5px 0 0 0;
	padding:0;
	font-size:12px;
}

#filter-content p {
	margin:0 0 5px 0;
	padding:0;
}

#filter-content .inputDesc{
	position:fixed;
	
	display:inline-block;
}
#filter-create-wrapper {
	background-color:#BED9E5;
	color: #5C686D;
}
#filter-create {
	width:785px;
	display:inline-block;
	padding:15px;
	margin:15px 0  0 15px;
	background-color:#aec6d1;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
}
