#taskies-create {
    position:absolute;
    height:100%;
    width:100%;
    top: 0px;
    left: 0px;
}

#create-overlay {
    position:fixed;
	left:0;
	top:0;
    height:100%;
    width:100%;
    background:#000;
    filter:alpha(opacity=36);
    -moz-opacity:0.36;
    opacity:0.36;
}

#create-close {
	float:right;
	color:gray;
	font-size:10px;
}

#create-content {
	position:fixed;
	margin:25px auto;
	padding:20px;
	width:400px;
	overflow-y:auto;
	background-color:#aec6d1;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
}

#create-content label {
	display:block;
	
}
#create-code {
	width:40px;
}
