#taskies-details {
    position:absolute;
    height:100%;
    width:100%;
    top: 0px;
    left: 0px;
}

#details-overlay {
    position:fixed;
	left:0;
	top:0;
    height:100%;
    width:100%;
    background:#000;
    filter:alpha(opacity=36);
    -moz-opacity:0.36;
    opacity:0.36;
}

#details-content {
	position:fixed;
	margin:25px auto;
	padding:10px;
	width:400px;
	background-color:#fff;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
}
